---
const currentYear = new Date().getFullYear();
---

<footer class="py-12 px-6 max-w-5xl mx-auto mt-24 border-t-4 border-primary-red text-center">
  <p class="font-display font-bold uppercase text-2xl tracking-widest">
    Mostafa Kamal &copy; {currentYear}
  </p>
</footer>
